<div class="login" >
    <h1>Register</h1>
    <form  #form="ngForm" (ngSubmit)="getData(form)" >
        <div>
            <label for="">Name</label>
            <input type="text" ngModel required="true" name="name">
        </div>
        <div>
            <label for="">Mobile Number</label>
            <input type="text" ngModel required="true" name="mobileNumber">
        </div>
        <div>
            <label for="">Email</label>
            <input type="email" ngModel  required="true" name="email">
        </div>
        <div>
            <label for="">Password</label>
            <input type="password" required="true" ngModel  name="password">
        </div>
        <div>
            <p>Already have an account ? <a routerLink="/login" >Login</a> </p>
        </div>
        <div>
            <button type="submit" >Submit</button>
        </div>
    </form>
</div>
