<div class="cart-heading">
  <h2> Your Cart  </h2>
  <h2><a routerLink="/orders"><button mat-stroked-button color="primary">My Orders</button></a></h2>
</div>
<div class="container" >

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef style="text-align:center;" > ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef style="text-align:center;" > Ingredients </th>
        <td mat-cell *matCellDef="let element"> 
             <div class="ing" *ngFor="let ing of element.IngArray" >
                 <img src={{ing.img}} style="height:50px;width: 50px;" alt="">
                 <p>{{ing.name}}</p>
                 <p>Rs-{{ing.price}}</p>
             </div> 
        </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef style="text-align:center;" > Total Price </th>
        <td mat-cell *matCellDef="let element">RS - {{element.TotalPrice}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef style="text-align:center;" > Quantity </th>
        <td mat-cell *matCellDef="let element"> {{element.IngQuantity}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef style="text-align:center;" > Action </th>
        <td mat-cell *matCellDef="let element"> 
             <mat-icon style="cursor:pointer;" >delete</mat-icon>
         </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div mat-card class="checkout-card" >
        <p mat-card-title >Order Summary</p>
         <div>
             <p>Items</p>
              <ul>
                 <li>Pizza 1 (Ing1 , Ing2)</li>
                 <li>Pizza 2 (Ing3 , Ing2)</li>
              </ul> 
         </div>
         <div>
             <p>Total Price</p>
             <p>RS - 1200</p>
         </div>
         <div>
            <button (click)="checkout()"  >Checkout</button>
         </div>

    </div>
</div>
  
  