<div class="main-container" >
    <div class="left" >
        <img src="https://imgs.search.brave.com/9hA-7744crG1de3P1w5I3v-xar0cG0nYqipYIJPsjYA/rs:fit:1200:1100:1/g:ce/aHR0cHM6Ly9zdGF0/aWMudmVjdGVlenku/Y29tL3N5c3RlbS9y/ZXNvdXJjZXMvcHJl/dmlld3MvMDAwLzYx/NS8wMTkvb3JpZ2lu/YWwvdmVjdG9yLWNh/cnRvb24tc21pbGlu/Zy1jaGVmLWNoYXJh/Y3Rlci5qcGc" alt="left-img">
    </div>
    <div class="right" >
        <h1>Customize your Pizza According to your Taste !</h1>
        <button class="btn" >Get Started</button>
    </div>
</div>
<div class="Crad-container" >
    <mat-card *ngFor="let item of Ingredients" class="card-item"   >
        <img  src={{item.img}} alt="" >
        <p>{{item.name}}</p>
        <p>RS-{{item.price}}</p>
        <p class="icon-card" >
           <mat-icon (click)="addIng(item)" >add_circle</mat-icon>
           <!-- <mat-icon class="select-icon"  [style.display]="displayIcon" >check_circle</mat-icon> -->
           <mat-icon (click)="remove(item.id)" >delete_outline</mat-icon>
        </p>
       
    </mat-card>
</div>
<div class="AddToCartBtnContainer">
    <button class="addToCartBtn" (click)="AddToCart()" >Add Pizza to Cart <span> ( {{quantity}} )</span> </button>
</div>
